@model IEnumerable<AppName.Models.Form>

@{
    ViewData["Title"] = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forms</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommunicationAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appreciation1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appreciation2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appreciation3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppreciationAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Development1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Development2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Development3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DevelopmentAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamwork1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamwork2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teamwork3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamworkAvg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QualityAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinanceAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.People)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Growth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrowthAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FormID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Communication1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Communication2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Communication3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommunicationAvg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appreciation1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appreciation2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Appreciation3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppreciationAvg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Development1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Development2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Development3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DevelopmentAvg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teamwork3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamworkAvg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QualityAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinanceAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.People)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeopleAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Growth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrowthAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunities)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        //Search box, pagination
        $(document).ready(function() {
            $('#table').DataTable({
                "pageLength": 8,
                "lengthChange": false,
                "ordering": false,
                "columnDefs": [
                    { "searchable": false, "targets": [1,2,3,4,5] }
                ],
                language: { search: "", searchPlaceholder: "Search by employee..." },
                "dom": "<'row'<'col-sm-12'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
            });
        });

        $.fn.dataTable.ext.classes.sPageButton = 'pagination-sm';
        $.fn.dataTable.ext.classes.sPageButtonActive = 'pagination-sm active';
        $.fn.dataTable.ext.classes.sPageButtonStaticDisabled = 'pagination-sm disabled';

        //TODO: Populate table
        //All COMPLETED forms, alphabetically by first name
        //Create working View and Delete links to put in table

        //TODO: Create delete bootbox
    </script>

    <style type="text/css">
        .dataTables_filter input {
            width: 116%;
        }

        .dataTables_info {
            font-size: small;
        }

        .pagination {
            float: right;
            margin-right: 18%;
        }
    </style>
}
